// COMPONENT [ FOOTER ] ###############################################################################################
@import "scss/.base/module-index";

.oFooter {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  background-color: $grey-02;
  margin-top: 80px;
  .mLogo {
    max-width: 200px;
    margin: 0 auto 50px;
  }
  .oIconList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;

    .mLink {
      display: block;
      text-decoration: none;
      color: white;
      padding: 0;
      margin: 0;
      .mIcon {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .oFooterList {
    display: block;
    .aListItem {
      display: block;
      width: 100%;
    }
    .aFooterLink {
      color: white;
      &:hover {
        color: #e2e2e2;
      }
    }
    .aLink {
      width: 100%;
      text-align: left;
    }
  }

  .mQRCode {
    max-width: 150px;
    margin: 0 auto;
    text-align: center;
  }
  .aFooterText {
    text-align: center;
  }
  .oFooterList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
    .mLogo {
      margin: 0 auto;
    }
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($xl-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
