// COMPONENT [ TEXT IMAGE BLOCK ] #####################################################################################

@import "scss/.base/module-index";

.oFounderProfileBlock {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++
  padding: 0;
  position: relative;

  .aBlockTitle {
    margin-bottom: 15px;
  }

  .oBlockImage {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
  }

  .oBlockBody {
    width: 100%;
    padding: 30px 45px;
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  @media ($sm-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($sm-up) {
    height: 100vh;
    display: flex;

    &.left {
      position: relative;
    }

    &.right {
      .oBlockImage {
        order: 2;
      }
      .oBlockBody {
        order: 1;
      }
    }

    .oBlockImage {
      align-self: center;
      margin-bottom: 0;
      height: 100vh;
      width: 55%;
      flex: 1 1 55%;
    }

    .oBlockBody {
      flex: 1 1 45%;
      padding-left: 12%;
      align-self: center;
    }

    &.right {
      .oBlockBody {
        order: 1;
        padding-left: 0;
        padding-right: 12%;
      }
      .oBlockImage {
        order: 2;
      }
    }
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
