// COMPONENT [ TEXT IMAGE BLOCK ] #####################################################################################

@import "scss/.base/module-index";

.oTextImageBlock {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  padding: 0;
  position: relative;

  &.left {
    position: relative;
  }

  &.right {
    .oBlockImage {
      order: 2;
    }
    .oBlockBody {
      order: 1;
    }
  }

  .oBlockImage {
    background-size: cover;
    background-position: center;
    .imageRatio {
      @include aspect-ratio(100%, 120%);
    }
  }

  .oBlockBody {
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  @media ($sm-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($sm-up) {
    .oBlockBody {
      padding-left: 12%;
      align-self: center;
    }
    .oBlockImage {
      align-self: center;
      margin-bottom: 0;
    }

    &.right {
      .oBlockBody {
        order: 1;
        padding-left: 0;
        padding-right: 12%;
      }
      .oBlockImage {
        order: 2;
      }
    }
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
