// COMPONENT [ TEXT IMAGE BLOCK ] #####################################################################################

@import "scss/.base/module-index";

.oTextImageBlock {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  padding: 50px 0 0;
  position: relative;

  .aBlockTitle {
    margin: 30px 0 15px;
    display: inline-block;
  }

  .oBlockImage {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
  }

  .oBlockBody {
    width: 80%;
    padding: 0 30px;
    margin: 0 auto -120px;
    position: relative;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: -100px;
      z-index: -1;
      background-color: #8c7462;
      background: linear-gradient(rgba(#8c7462, 1) 80%, rgba(#8c7462, 0));
    }
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  @media ($sm-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($sm-up) {
    height: 100vh;
    display: flex;

    &.left {
      position: relative;
    }

    &.right {
      .oBlockImage {
        order: 2;
      }
      .oBlockBody {
        order: 1;
      }
    }

    .oBlockImage {
      align-self: center;
      margin-bottom: 0;
      height: 100%;
      width: 55%;
      flex: 1 1 55%;
    }

    .oBlockBody {
      flex: 1 1 45%;
      padding-left: 12%;
      padding-bottom: 50px;
      align-self: center;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 15%;
        right: -15%;
        bottom: 0;
        z-index: -1;
        background-color: #8c7462;
      }
    }

    &.right {
      .oBlockBody {
        order: 1;
        padding-left: 0;
        padding-right: 12%;
      }
      .oBlockImage {
        order: 2;
      }
    }
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
