// COMPONENT [ TEXT IMAGE BLOCK ] #####################################################################################

@import "scss/.base/module-index";

.o3ColumnBlock {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  padding: 50px 0;
  margin-bottom: 100px;
  position: relative;
  background-color: #222;

  .aBlockTitle {
    width: 80%;
    padding: 80px 30px 0;
    margin: 0 auto -120px;
    position: relative;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      bottom: -100px;
      z-index: -1;
      background-color: #3a2f1d;
      background: linear-gradient(rgba(#3a2f1d, 0.8) 60%, rgba(#3a2f1d, 0));
    }
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
    .aBlockTitle {
      width: 50%;
      margin: 0 0 0 auto;
      &:before {
        background-color: #3a2f1d;
        bottom: -20px;
      }
    }
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
