// COMPONENT [ HERO BLOCK ] ###########################################################################################
@import "scss/.base/module-index";

.oHeroBlock {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  .mLogo {
    width: 80%;
    max-width: 400px;
    margin: 25vh auto 15vh;
  }

  .introImage {
    padding: 0 50px;
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($xl-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
