// COMPONENT [ HERO BLOCK ] ###########################################################################################
@import "scss/.base/module-index";

.oHeroBlock {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  &.oHome {
    .mLogo {
      width: 80%;
      max-width: 400px;
      margin: 10vh auto 15vh;
    }

    .introImage {
      padding: 0 50px;
    }
  }

  &.oPage {
    max-height: 600px;
    position: relative;
    overflow: hidden;
    .oContentBlock {
      position: relative;
      padding: 100px 0;
      z-index: 10;
      .aTitle {
        display: block;
        text-shadow: 0 0 15px black;
      }
    }
    .mLogo {
      width: 10%;
      max-width: 400px;
      margin: 10vh auto 15vh;
    }

    .introImage {
      padding: 0;
    }
    .introImage {
      @include position(absolute, 0);
    }
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
    .mLogo {
      margin: 25vh auto 15vh;
    }
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($xl-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
