// COMPONENT [ HERO BLOCK ] ###########################################################################################
@import "scss/.base/module-index";

.oReasonsBlock {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  margin: 0 0 100px;

  .oRight {
    background-color: #383028;
    padding: 0 0 50px;
  }

  .titleWrapper {
    display: inline-block;
    position: relative;

    .aPreTitle {
      display: block;
      font-family: "Alex Brush", cursive;
    }
    .aTitle {
      display: block;
      font-family: "Cormorant", serif;
      font-weight: 500;
    }
    .aSubTitle {
      display: block;
      text-align: right;
      font-family: "Alex Brush", cursive;
    }
  }
  .mImage {
    &.floatRight {
      float: right;
      width: 30%;
      margin: -20px 0 50px 50px;
    }
    &.bgImage {
      aspect-ratio: 4/3;
      background-size: cover;
    }
  }
  .bodyWrapper {
    &.rightBlock {
      padding: 0 50px;
    }
  }

  .mBodyText {
    margin-bottom: 50px;
  }

  .aHeader {
    margin: 60px auto 20px;
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($lg-up) {
    .titleWrapper {
      .aSubTitle {
        margin-top: -20px;
      }
    }
    .oLeft {
      min-width: 66%;
    }
    .oRight {
      max-width: 33%;
    }
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($xl-up) {
    .titleWrapper {
      .aSubTitle {
        transform: translateX(50%);
      }
    }
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
